<html>
    <head>
       <title>Welcome!</title>
       <link rel="stylesheet" href="/public/style/myStyle.css"/>
       <link rel="stylesheet" href="/public/style/cerulean.min.css" media="screen">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
       <script src="/public/scripts/isLoggedIn.check.js"></script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class=navbar-header><a class="navbar-brand" href="#">My Voting App</a></div>
            <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav nav-links">
                
                <li>
                  <a href="/myPolls">My Polls</a>
                </li>
              </ul>
    
              <ul class="nav navbar-nav navbar-right nav-links" style = "margin-right: 5px;">
                <li><a href="/logout" >Logout</a></li>
              </ul>
    
            </div>
        </div>
        <div class="container">
            <div class="page-header"></div>
            {{{body}}}
        </div>
    </body>
    
</html>